.Name-Table ,td ,th, tr
{
    border: solid 1px black;
    border-collapse: collapse;
}
.div1
{
    color: white;
    background-color: blueviolet;
}
.div2
{
    color: white;
    background-color: rgb(218, 32, 32);
}
.div3
{
    color: white;
    background-color: rgb(32, 35, 218);
}